body {
  background-color: white;
}

h1 {
  position: relative;
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 40px;
  margin: 0px;
}

main {
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 20px;
  width: 22%;
  position: relative;
  left: 590px;
  padding: 10px;
  margin: 20px 0px 0px 0px;
  background-color: lightslategray;
  color: white;
}

h3 {
  font-size: 55px;
  margin: 0px 0px 5px 0px;
}

#display {
  border: 2px solid black;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  display: inline-block;
  background-color: lightgrey;
}

#column1 {
  display: flex;
  justify-content: space-around;
}

#column2 {
  display: flex;
  justify-content: space-around;
}

#column3 {
  display: flex;
  justify-content: space-around;
}

#column4 {
  display: flex;
  justify-content: space-around;
}

#equal-sign {
  font-size: 30px;
  text-align: center;
  position: relative;
  left: 129px;
}

#operators {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main p {
  font-size: 30px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 55px;
  margin: 6px;
  background-color: rgba(211, 211, 211, 0.5);
}

main p:hover {
  cursor: pointer;
}
